
MAINICON ICON "lang.ico"

1 VERSIONINFO
FILEVERSION 1,1,0,0
PRODUCTVERSION 1,1,0,0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040C04E4"
	{
		VALUE "CompanyName", "Created by [big_fury]SiZiOUS"
		VALUE "FileDescription", "Choose Language For SBI Builder"
		VALUE "FileVersion", "1.1.0.0"
		VALUE "InternalName", "chooselang.exe"
		VALUE "LegalCopyright", "© Copyright 2002, 2006"
		VALUE "OriginalFilename", "lang.exe"
		VALUE "ProductName", "SBI Builder"
		VALUE "ProductVersion", "1.1.0.0"
		VALUE "Comments", "http://sbibuilder.shorturl.com/"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x040C 0x04E4
}
}
